<h3>All my trips</h3>

<ul>
    <% @trips.each do |trip| %>
        <li><%= link_to trip.name, trip_path(trip) %></li>
    <% end %>
</ul>

<%= button_to "Add new trip", new_trip_path, method: :get %>