<div style="width: 40%; margin-left: auto; margin-right: auto;">
<button type= "button" class="btn btn-outline-primary" style="float:right; margin-top:8px;"><%= link_to "Cancel", trips_path, method: :get %></button>
<h1>Add Trip</h1>

<%= render partial: "trip_form" %>
<br>
</div>