

<strong><%= "Select a state in #{Country.find(params[:country_id]).name}" %></strong>

<ul>
    <% @states.each do |state| %>
        <li><%= link_to state.name, state_cities_path(state) %></li>
    <% end %>
</ul>