<div style="width:60%;margin-left: auto; margin-right:auto;">

<h1>About</h1>
<br>

<ul>
    
    <li><strong>Number of Users:</strong> <%= User.count %></li>
    <li><strong>Most Visited Country:</strong> <%= Country.most_visited_country.name %></li>
    <li><strong>Most Visited City:</strong> <%= "#{City.most_visited_city.name}, #{City.most_visited_city.state.name}" %></li>
</ul>
    


<div>
    <strong>Created By:  </strong>Steven Lee and Solomon Yismaw
</div>

