<div style="width:60%;margin-left: auto; margin-right:auto;">

<h1>About Page</h1>
<br><br>

<ul>
    
    <li><strong>Number of Users:</strong> <%= User.count %></li>
    <li><strong>Most Visited Country:</strong> <%= Country.count %></li>
    <li><strong>Most Visited City:</strong></li>
</ul>
    



<h5>Created By: Steven Lee and Solomon Yismaw </h5>


