

<div>
<%= form_tag states_path, :class => "form-group", method: :get do %>
    <strong><%= label_tag :country_id, "Select a Country to Begin Your Search"%></strong><br><br>
    <%= select_tag(:country_id, options_from_collection_for_select(@countries, :id, :name), class: "form-control") %><br>
    <button type="submit" class="btn btn-primary">Search</button>
<% end %>
</div>




